/* Nav section --------------------- */
.nav-section {
  z-index: 20;
  width: 250px;
  height: 100vh;
  background: var(--dark-background-color);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.photo-icons-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.font-awesome-icon {
  color: var(--text-color);
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.font-awesome-icon:hover {
  color: var(--heading-color);
  transition: 0.5s;
}

.nav-section img {
  width: 170px;
  border-radius: 50%;
}

.standard-link-container {
  display: block;
  list-style: none;
}

.nav-section li {
  margin: 20px 0px;
}

.hamburger {
  display: none;
}

.standard-link {
  color: var(--text-color);
  font-size: var(--text-font-size);
  text-decoration: none;
}

.standard-link:hover {
  border-bottom: 1px solid var(--light-red);
}

.standard-link:active {
  color: var(--text-hover-color);
  border-bottom: 1px solid var(--light-red);
}


/* Medias ---------------------------*/
@media screen and (max-width: 1180px) {
  .standard-link-container {
    display: block;
  }
}

@media screen and (max-width: 1170px) {
  .hamburger {
    display: block;
  }

  .standard-link-container,
  .photo-icons-section {
    display: none;
  }

 .nav-section {
    width: 50px;
    transition: 0.3s;
  }

  .click-nav-section {
    width: 160px;
    opacity: 80%;
    transition: 0.3s;
  }
}
