/* Nav section --------------------- */
.nav-section {
  width: 250px;
  height: 100vh;
  background: var(--dark-background-color);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.photo-icons-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.font-awesome-icon {
  color: var(--text-color);
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.font-awesome-icon:hover {
  color: var(--heading-color);
  transition: 0.5s;
}

.nav-section img {
  width: 170px;
  border-radius: 50%;
}

.nav-section ul {
  list-style: none;
}

.nav-section li {
  margin: 20px 0px;
}

.standard-link {
  color: var(--text-color);
  font-size: var(--text-font-size);
  text-decoration: none;
}

.standard-link:hover {
  border-bottom: 1px solid var(--light-red);
}

.standard-link:active {
  color: var(--text-hover-color);
  border-bottom: 1px solid var(--light-red);
}
