#general-container {
  width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  width: 100%;
}

section {
  width: var(100% - 250px);
  height: 100vh;
  /* border: 5px solid blue; */
  margin-left: 250px;
}

/* Home section ------------------- */
#home  {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-top: 200px;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

#home h1 {
  font-family: var(--teko-font);
  color: var(--heading-color);
  font-size: 150px;
  width: 600px;
  line-height: 150px;
}

#home h4 {
  color: var(--text-color);
}

/* About section ----------------------- */

#about {
  background-color: rgb(5, 5, 37);
  padding: 80px 150px;
}

.about-title {
  color: var(--heading-color);
  font-family: var(--teko-font);
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.about-text {
  color: var(--text-color);
  font-size: var(--text-font-size);
}

.about-image {
  float: right;
  max-width: 500px;
  margin-left: 20px;
  margin-bottom: 20px;
}
